.App {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;

}


body {
  margin: 0;
  padding: 0;
}

.oswald {
  font-family: 'Macondo', cursive;
  font-family: 'Oswald', sans-serif;
}
